<div class="container" style="margin-top: 100px;">
<div class="card border-top border-0 border-5 border-primary">
<div class="card-body">
    <div class="card-title d-flex align-items-center">
        <h5 class="mb-0 text-primary">DANH SÁCH VÉ MÁY BAY</h5>
        </div>
        <table class="table mb-0 table-hover table-borderless">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Điểm khởi hành</th>
                    <th class="text-center">Điểm đến</th>
                    <th class="text-center">Thời gian khởi hành</th>
                    <th class="text-center">Thời gian đến</th>
                    <th class="text-center">Hãng bay</th>
                    <th class="text-center">Loại vé</th>
                    <th class="text-center">Ghế</th>
                    <th class="text-center">Giá vé</th>
                </tr>
            </thead>
            <tbody>
                {{#each ticket_list}}
                <tr>
                    <th>{{incremented @index}}</th>
                    <td>{{flight_id.departure_airport_id.airport_name}}</td>
                    <td>{{flight_id.arrival_airport_id.airport_name}}</td>
                    <td class="text-center">{{format_datetime flight_id.departure_datetime}}</td>
                    <td class="text-center">{{format_datetime flight_id.arrival_datetime}}</td>
                    <td class="text-center">{{airline_id.airline_name}}</td>
                    <td class="text-center">{{ticket_class}}</td>
                    <td class="text-center">{{seat}}</td>
                    {{#ifCond ticket_class '===' 'Phổ Thông'}}
                        <td class="text-center">{{format_currency flight_id.economy_price}} VNĐ</td>
                    {{else}}
                        <td class="text-center">{{format_currency flight_id.business_price}} VNĐ</td>
                    {{/ifCond}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>
