<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
<main style="background: #FAFAFA; mt-5">
    <!--  -->
    <div class="container-fluid pt-5 mt-5">

        <div class="container">
            <!-- row 1 -->
            <div class="row">
                <!-- col 1 -->
                <div class="col-6 col-lg-8 col-md-8 col-sm ">
                    <h2 class="mb-3">
                        {{flightData.airlineInfo.airline_name}} A{{flightData.flight_id}} Airbus
                    </h2>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>
                        {{flightData.from.airport_location}} --
                        {{flightData.to.airport_location}} . No: Airbus A{{flightData.flight_id}}
                    </span>
                </div>
                <!-- col 2 -->
                <div class="col-6 col-lg-4 col-md-4 text-end">
                    {{!-- <div class="row mb-3 p-0">
                        <span class="fw-bold fs-5 p-0">
                           {{formatCurrency flightData.classPricing}}
                        </span>
                    </div> --}}
                    <div class="row">
                        <div class="col col-lg-4 col-md-3 col-sm-4"></div>
                        <div class="col col-lg-4 col-md-3 col-sm-4 text-end">
                            <button type="button" class="btn btn-outline-secondary"><i
                                    class="fa-sharp fa fa-share-nodes"></i></button>
                        </div>
                        <div class="col col-lg-4 col-md-6 col-sm-4 text-end p-0">
                            <div class="btn-download" id="download-tc" style="height: 100%;">
                                <button type="button" class="btn btn-outline-success" style="
                                            background-color:#8DD3BB; border: #8DD3BB; color: 
                                            black;">Download
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container mt-3" id="ticket-plane">
                <!-- row 1 -->
                <div class="row">
                    <!-- col 1 -->
                    <div class="col-12 col-lg-3 col-sm-4 p-4"
                        style="background-color: #EBF6F2;border-radius: 8px 0 0 8px;">
                        <div class="row">
                            <span class="time-start fw-bold fs-2">
                                {{splitString flightData.departure_datetime " " 1}}
                            </span>
                            <span class="depart-start">
                                {{flightData.from.airport_location}}
                            </span>
                        </div>
                        <div class="row">
                            <img style="width: 60px;" src="/img/ticket_info/arrow-bottom.svg" alt="Arrow-bottom">
                        </div>
                        <div class="row">
                            <span class="time-end fw-bold fs-2">
                                 {{splitString flightData.arrival_datetime " " 1}}
                            </span>
                            <span class="depart-end">
                               {{flightData.to.airport_location}}
                            </span>
                        </div>
                    </div>
                    <!-- col 2 -->
                    <div class="col-12 col-lg-9 col-sm-8 pl-2 pe-0">
                        <!-- row 1 -->
                        <div class="row p-4 d-flex justify-content-center align-items-center"
                            style="background: #8DD3BB;border-radius: 0 8px 8px 0;">
                            <div class="col-7 col-lg-6 col-md-6">
                                <div class="row d-flex align-items-center">
                            
                                    <div class="col-12 col-md-8 col-sm-6 text-start">
                                        <h3>
                                            {{#if passengerInfo}}
                                                {{passengerInfo.firstName}} {{passengerInfo.lastName}}
                                                {{else}}
                                                    {{user.first_name}} {{user.last_name}}
                                            {{/if}}

                                        </h3>
                                        <!-- <span>Boarding Pass N’123</span> -->

                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-lg-6 col-md-6 text-end">
                                <span class="fw-bold">
                                    {{flightData.classValue}}
                                </span>
                            </div>
                        </div>

                        <div class="row mt-3 p-3">
                            <!-- Date -->
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/img/ticket_info/date.png" alt="Date">
                                    </div>
                                    <!-- php -->
                                    <div class="col ms-1">
                                        <div class="date-info fw-bold" style="opacity: 0.6;">Date</div>
                                        <div id="date">
                                            {{splitString flightData.departure_datetime " " 0}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Flight time -->
                            <div class="col-2 col-md-3">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/img/ticket_info/time.png" alt="Time">
                                    </div>
                                    <!-- php -->
                                    <div class="col ms-1">
                                        <div class="flight-info fw-bold" style="opacity: 0.6;">Flight time</div>
                                        <div id="flight-time">
                                             {{splitString flightData.departure_datetime " " 1}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Gate -->
                            <div class="col-2 col-md-3">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/img/ticket_info/gate.png" alt="Gate">
                                    </div>
                                    <!-- php -->
                                    <div class="col ms-1">
                                        <div class="gate-info fw-bold" style="opacity: 0.6;">Gate</div>
                                        <div id="gatenum">A7
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Seat -->
                            <div class="col-2 col-md-3">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/img/ticket_info/seat.png" alt="Seat">
                                    </div>
                                    <!-- php -->
                                    <div class="col ms-1">
                                        <div class="seat-info fw-bold" style="opacity: 0.6;">Seat</div>
                                        <div id="seatnum">
                                            {{#if passengerInfo}}
                                                {{passengerInfo.seatNo}}
                                                {{else}}
                                                      {{flightData.seatNo}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row p-4">
                            <div class="col-12 col-sm-6">
                                <div class="row">
                                    <h2>
                                        {{!-- gia tri nay se tinh sau --}}
                                        VJ012148274242  
                                    </h2>
                                </div>
                                <div class="row ms-1">
                                    {{flightData.airlineInfo.airline_name}} A{{flightData.flight_id}} Airbus
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 text-sm-end p-0">
                                <img src="/img/ticket_info/maQR.svg" alt="QR">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mt-5">
    <div class="row">
        <h2>Điều khoản và Điều kiện</h2>
    </div>

    <div class="row mt-5">
        <h3>Thanh toán</h3>
        <ul class="ps-5">
            <li>Nếu bạn mua vé bằng thẻ ghi nợ hoặc thẻ tín dụng qua Website, chúng tôi sẽ xử lý các khoản thanh toán này thông qua cổng thanh toán an toàn tự động, có áp dụng quy trình kiểm tra gian lận.</li>

            <li>Nếu bạn cung cấp sai địa chỉ thanh toán hoặc thông tin chủ thẻ, đặt vé của bạn sẽ không được xác nhận và tổng chi phí có thể tăng lên. Chúng tôi có quyền hủy đặt vé nếu thanh toán bị từ chối vì bất kỳ lý do gì hoặc nếu bạn đã cung cấp thông tin thẻ không chính xác. Nếu chúng tôi phát hiện hoặc được thông báo về hoạt động gian lận hay bất hợp pháp liên quan đến việc thanh toán, đặt vé sẽ bị hủy và bạn phải chịu toàn bộ chi phí phát sinh từ việc hủy này, đồng thời không loại trừ các hành động pháp lý có thể được áp dụng.</li>

            <li>Golobe có thể yêu cầu chủ thẻ cung cấp thêm thông tin xác minh thanh toán, bằng cách điền biểu mẫu trực tuyến, đến văn phòng Golobe gần nhất hoặc tại sân bay khi làm thủ tục. Golobe có quyền từ chối vận chuyển hoặc yêu cầu thanh toán đảm bảo (bằng tiền mặt hoặc thẻ khác) nếu thẻ đã dùng để mua vé không được chủ thẻ xuất trình khi làm thủ tục hoặc khi nhận vé, hoặc trong trường hợp khoản thanh toán ban đầu bị tranh chấp hoặc bị ngân hàng từ chối. Thông tin thẻ tín dụng được lưu giữ trong môi trường bảo mật và truyền tải qua hệ thống đạt tiêu chuẩn quốc tế.</li>
        </ul>
    </div>

    <div class="row mt-5">
        <h3>Liên hệ</h3>
        <p>Nếu bạn có bất kỳ câu hỏi nào về Website hoặc Điều khoản Sử dụng, vui lòng liên hệ:</p>
        <p>Gmail: StarLine@gmail.com</p>
        <p></p>
    </div>

    <div class="row"></div>
</div>

<!-- Book-body -->

</main>

<script>
document.getElementById("download-tc").addEventListener("click", async () => {
    const ticketElement = document.getElementById("ticket-plane");

    html2canvas(ticketElement).then(canvas => {
        const link = document.createElement("a");
        link.download = "ticket.png";
        link.href = canvas.toDataURL("image/png");
        link.click();
    });
});
</script>
